.member_content {
    margin-top: 250px;
    color: rgb(27, 34, 76);
}

.member_content h3 {
    width: 250px;
    left: calc(50% - 80px);
    font-size: 110px;
    position: relative;
    color: rgb(255, 153, 51);
}

.member_content h3 span.en {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7rem;
    color: rgb(27, 34, 76);
}

.member_content h3 span.ja {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 60%;
    left: 7rem;
    color: rgb(27, 34, 76);
}

.member_content_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.member_content_box_reverse {
    flex-direction: row-reverse;
}

.member_content_box img {
    width: 30%;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 0px 5px 15px 1px gray;
}

.member-info {
    width: 60%;
}

.member-info h4 {
    font-size: 1.6rem;
}

.member-info p {
    font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
    .member_content_box {
        display: block;
        flex: none;
    }

    .member_content_box {
        width: 500px;
        margin: 50px auto;
        text-align: center;
    }

    .member_content_box .member-info {
        width: 100%;
    }

    .member_content_box h4 {
        margin-top: 20px;
    }
}