.service_content {
    margin-top: 250px;
    color: rgb(27, 34, 76);
}

.service_content h3 {
    width: 250px;
    left: calc(50% - 80px);
}

.service_content h3 {
    font-size: 110px;
    position: relative;
    color: rgb(255, 153, 51);
}

.service_content h3 span.en {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5.5rem;
    color: rgb(27, 34, 76);
}

.service_content h3 span.ja {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 60%;
    left: 6rem;
    color: rgb(27, 34, 76);
}

.service_content h4 {
    text-align: center;
    margin-bottom: 70px;
}

h4 {
    font: 23px;
}

.service_content .service_box {
    position: relative;
    width: 750px;
    padding: 40px 40px 30px;
    border-radius: 20px;
    background: white;
    margin: 0 auto 70px;
    box-shadow: 0px 5px 15px 1px gray;
}

.service_title {
    display: flex;
    align-items: center;
    position: absolute;
    top: -20px;
}

.service_title i {
    max-width: 100%;
}

.service_title p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
